body{
    background-color: green;
}
#TwoCrest{
    color: black;
    
}
#FiveChrev{
    color: red;
}
#qbubn{
    color: red;
}
#KPiki{
    color: black;
}
#ACherv{
    color: red;
}
#ThreeBubni{
    color: red;
}
#SevenBubni{
    color: red;
}
#JPiki{
    color: black;
}
#TenChervi{
    color: red;
}
#EightPiki{
    color: black;
}
#NineCrest{
    color: black;
}
#KPiki{
    color: black;
}
#HandJohn{
    font-size: 35px;
}
#HandErick{
    font-size: 35px;
}
#Name1{
    font-size: 55px;
}
#Name2{
    font-size: 55px;
}
main{
    text-align: center;
}
body{
    margin-top: 200px;
    padding-left: 700px;
}
footer{
    border-radius: 5px;
    padding-top: 250px;
}