body{
    background-color: white; 
}
#Name1{
    font-size: 50px;
    text-align: center;
    color: chocolate;
}
#Name2{
    color: darkmagenta;
    font-size: 30px;
    text-align:left
}
#Name3{
    color: chartreuse;
}
#Name4{
    color: blue;
}
#Name5{
    color: brown;
}
#Answer1{
    color: chartreuse;
}
#Name7{
    color: brown;
}
#prolog{
    font-size: 25px;
    color: blue;
}
#Answer2{
    color: chartreuse;
}