header{
    text-align: center;
}
#code1{
    font-size: 55px;
    text-align: center;
}
#codeinside{
    background-color: red;
}
span{
    color: blue;
}
#code2{
    font-size: 55px;
    text-align: center;
}
#codeinside2{
    background-color: red;
}